/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--saffron: #f5cb5c;
	--saffron-dark: #efdaa1;
	--jet: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-ExtraLight.ttf') format('ttf');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-Light.ttf') format('ttf');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-Medium.ttf') format('ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-SemiBold.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-Bold.ttf') format('ttf');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-ExtraBold.ttf') format('ttf');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-Black.ttf') format('ttf');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-ExtraLightItalic.ttf') format('ttf');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-LightItalic.ttf') format('ttf');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-Italic.ttf') format('ttf');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-MediumItalic.ttf') format('ttf');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-SemiBoldItalic.ttf') format('ttf');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-BoldItalic.ttf') format('ttf');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-ExtraBoldItalic.ttf') format('ttf');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-BlackItalic.ttf') format('ttf');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

body {
	font-family: 'Mulish', 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--saffron);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

article h1 {
	font-size: 3rem;
	margin-bottom: 20px;
}

article h2 {
	font-size: 2rem;
	margin-top: 60px;
	margin-bottom: 20px;
}

article p {
	margin-bottom: 2em;
}