---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Acerca de Molavec"
	description="Desarrollador Full Stack"
	pubDate={new Date('August 17 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Desarrollador Full Stack
	</p>

</Layout>
