---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PostList from '../components/PostList.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import GTMBody from '../components/GTMBody.astro';
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<GTMBody />
		<Header title={SITE_TITLE}/>
		<main class="p-8 flex justify-center w-full">
			<section class="max-w-4xl">
				<h1 class="text-5xl font-medium">Molavec website</h1>
				<h3 class="text-2xl">
					Hacks, consejos y tutoriales para <b>desarrolladores Web</b>.
				</h5>
				<PostList/>
			</section>
		</main>
		<Footer />
	</body>
</html>

