---
import BaseHead from '../components/BaseHead.astro';
// import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PostList from '../components/PostList.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import GTMBody from '../components/GTMBody.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<GTMBody />
		<!-- <Header title={SITE_TITLE}/> -->
		<main class="p-8 flex justify-center w-full min-h-[75vh]">
			<section class="max-w-4xl mt-12">

				<!-- init -->
				<div class="flex flex-wrap justify-center align-center">
					<div class="my-4">
						<img src="avatar.png" alt="Miguel's avatar image" class="max-h-40 rounded-full">
					</div>
					<div class="my-4 pl-4">
						<h1 class="text-5xl font-bold mb-4">Hi 👋, <br/>I'm Miguel Olave</h1>
						<h3 class="text-2xl">
							A passionate Javascript Fullstack developer <br/> & UX-PM from Chile</b>.
						</h3>
					</div>
				</div>

				<!-- Connect -->
				<div class="flex justify-around my-4">
					<div>
						<a href="https://codepen.io/molavec" target="blank">
							<img class="rounded-none" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/codepen.svg" alt="molavec" height="30" width="40" />
						</a>
					</div>
					<div>
						<a href="https://twitter.com/molavec" target="blank">
							<img class="rounded-none" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/twitter.svg" alt="molavec" height="30" width="40" />
						</a>
					</div>
					<div>
						<a href="https://linkedin.com/in/molavec" target="blank">
							<img class="rounded-none" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="molavec" height="30" width="40" />
						</a>
					</div>
					<div>
						<a href="https://stackoverflow.com/users/1278487/molavec" target="blank">
							<img class="rounded-none" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/stack-overflow.svg" alt="molavec" height="30" width="40" />
						</a>
					</div>
				</div>

				<!-- Current Job -->
				<div class="my-12 pl-4">
					<h1 class="text-3xl font-bold mb-4">I'm working on...</h1>
					<div>
						<a href="https://queonda.art" target="blank" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100">
							<img class="object-cover w-full rounded-t-lg h-40 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="queonda.jpg" alt="">
							<div class="flex flex-col justify-between p-4 leading-normal">
									<h5 class="mb-2 text-2xl font-bold tracking-tight">Queonda.ART</h5>
									<p class="mb-3 font-normal">Improve User experience for ecommerce and websites</p>
									<p>
										<button class="rounded-md bg-lime-600 hover:bg-lime-800 py-2 px-6 text-white font-semibold">Check</button>
									</p>
							</div>
						</a>
					</div>
				</div>
				
				<!-- <PostList/> -->
				<div class="my-12 pl-4">
					<h1 class="text-3xl font-bold mb-4">Portfolio</h1>
					<h1 class="text-md font-medium mb-4">Know some of the projects I have worked on!</h1>
					<div>
						<a href="/kiltro" target="blank" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100">
							<img class="object-cover w-full rounded-t-lg h-40 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="kiltro.jpg" alt="">
							<div class="flex flex-col justify-between p-4 leading-normal">
									<h5 class="mb-2 text-2xl font-bold tracking-tight">Kiltro.es</h5>
									<p class="mb-3 font-normal">Smart Project Manager developed in Vue.js and Firebase</p>
									<p>
										<button class="rounded-md bg-lime-600 hover:bg-lime-800 py-2 px-6 text-white font-semibold">Check</button>
									</p>
							</div>
						</a>
					</div>
				</div>

			</section>
		</main>
		<Footer />
	</body>
</html>

